* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-container {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: #F5F5F5;
    ;
}

.container {
    display: flex;
    height: 400px;
    border-radius: 8px;
}

.signup-img img {
    width: 300px;
    height: 400px;
    border-radius: 8px;
}

.cancel-btn {
    position: relative;
}

.cancel {
    position: absolute;
    margin-top: 5px;
    right: 4%;
}

.form-header {
    text-align: center;
    margin-top: 40px;
}

.form-header h3 {
    font-size: 22px;
    color: #2B292F;
}

.form-header p {
    color: #605E65;
    margin: 10px 0;
}

.form-p {
    color: #605E65;
    margin: 10px 0;
    text-align: center;
}

.form {
    background-color: white;
    border-radius: 8px;

}

label {
    display: block;
    margin-top: 10px;
    color: #2B292F;
}

form {
    width: 30vw;
    padding: 0 25px;
}

form input {
    width: 100%;
    padding: 7px;

    background: #FFFFFF;
    border: 0.5px solid rgba(17, 17, 17, 0.3);
    border-radius: 4px;

}

.flex input {
    width: 15px;
    margin-left: 10px;
}

.signup-btn {
    background: #4169E1;
    padding: 8px 150px;
    border-radius: 4px;
    text-align: center;
    border: none;
    color: white;
    margin: 15px 0;
}

.signup-paragraph a {
    padding-bottom: 10px;
    text-align: center;
    color: #606570;
    text-decoration: none;
}

a {
    text-align: center;
}