body{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: "Inter", sans-serif;
}
header{
	width: 100%;
}
nav{
	width: 100%;
	display: flex;
	justify-content: center;
}
ul{
	margin: 10px;
	display: flex;
}
li{
	padding: 0 10px;
	list-style: none;
}
a{
	color: #000000;
	text-decoration: none;
}
.hero{
    background: url(../assets/Cuisine/cuisine-header.png);
    height: 20rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
	width: 100%;
	padding: 50px 100px;
	text-align: center;
}
.images{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
}
.images img{
	width: 288px;
	height: 288px;
	border-radius: 50%;
}
.text{
	text-align: left;
}
form{
    width: 90%;
	text-align: left;
    margin: 2rem auto;
}
button{
  color: #ffffff;
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: center;
  background: #4169e1;
  border-radius: 8px;
  border: none;
  width: 174px;
  height: 49px;
  margin-top: 10px;
}
hr {
  background-color: blue;
  padding: 1px;
}
footer{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
footer .logo, footer p, footer .socials{
	margin: 10px;
}
