*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li a{
   border-bottom: #4169E1;; 
}

.container p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.sub-heading{
    color: #667085;
    font-size: 17px;
}
footer p{
    font-family: 'Inter';
     font-style: normal;
    font-weight: 500;
    font-size: 16px
}
@media (max-width:500px) {
    .footer{
        flex-direction: column;
    }
    .footer .logo-img{
        width: 70px;
    }
}