*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:  80%;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar{
    position: relative;
}
.search-img{
    position: absolute;
    bottom:9%;
    left:5%;
}
.left-col ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #605E65;
}

.left-col ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.left-col .settings {
    background-color: #4169E1;
    color: #ffff;
}
.left-col .settings2 a{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #605E65;
}
.item-a{
    display: flex;
    justify-content: space-between;
}
.item1{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.item2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.general h4 {
    font-weight: 600;
    font-size: 24px;
    color: #2B292F;
}

.general p {
    font-size: 16px;
    color: #605E65;
}

.cms-btn {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(17, 17, 17, 0.13);
    border-radius: 8px;
    border: none;
    padding: 4px 10px;
   
}
.btn-bg{
    background: #C0CDF5;
        border-radius: 48px;
        padding: 9px 10px;
}
.btn-small{
background: #4169E1;
    border-radius:12px;
    padding: 4px 10px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 10px;
}
.text-small{
    font-size: 13px;
}
.btn-danger{
    background-color: #CD3933;
    border-radius: 6px;
    margin-top: 10px;
    
    
}
.btn {
    background-color: #4169E1;
    border-radius: 4px; 
    color: #FFFFFF;
    padding: 0 4rem;
    
}
.save {
    background: #4169E1;
    border-radius: px;
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 5px 15px;
    font-size: 13px;
    width: 50%;
    display: none;
}

.save2 {
    background: #4169E1;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

::placeholder {
    font-size: 12px;
    color: rgba(17, 17, 17, 0.3);
}

label {
    font-weight: 500;
    font-size: 14px;


    color: #111111;

}
.upload2{
    display: none;
    display:flex ;
    justify-content: center;
    margin-top: 10px;
  
}
.save-btn{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

@media (min-width:1000px) {
    body{
        width: 100%;
    }
    .item1{
        flex-direction: row;
        align-items: center;
    }
    .item2{
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 10px;
    }
    .item2:nth-child(2){
        margin-left: 10px;
        background-color: #4169E1;
    }
    .save{
        width: 20%;
    }
    .upload2{
        flex-direction: row;
        justify-content: end;
        
    }
    .save{
        display: block;
    }
     .save-btn {
            display: flex;
            align-items: center;
            justify-content: end;
    
     }
         .btn-danger {
             background-color: #CD3933;
             border-radius: 6px;
             margin-left: 10px;
             margin-top: 0;
    
         }
}
