* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
   width: 80%;
   margin: 0 auto;
}

.left-col ul li{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #605E65;
}
.left-col ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #605E65;
}
.bell{
   
}
 .left-col .settings{
    background-color: #4169E1;
    color: #ffff;
 }
 .general h4{
    font-weight: 600;
        font-size: 24px;
        color: #2B292F;
 }
 .general p{
    font-size: 16px;
    color: #605E65;
 }

 .save{
    background: #4169E1;
        border-radius: 8px;
        border: none;
        color: #FFFFFF;
        padding: 5px 15px;
        font-size: 13px;
        display: none;
 }
 .save2{
    background: #4169E1;
        border-radius: 8px;
        color: #FFFFFF;
        border: none;
            outline: none;
       padding: 5px 16px;
       display: inline-flex;
       align-items: center;
       justify-content: center;
 }
 ::placeholder{
    font-size: 12px;
    color: rgba(17, 17, 17, 0.3);
 }
 label{
    font-weight: 500;
font-size: 14px;


color: #111111;

 }
 .btn{
    border: none;
    outline: none;
    background-color: #4169E1;
    border-radius: 8px;
    padding: 0 20px;
    color: #FFFFFF;
 }
 .btn-last{
   display: flex;
   justify-content: center;
   margin-top: 20px;
  
 }
 .btn-last .btn{
   padding: 5px 100px;
 }
 .cms-btn {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(17, 17, 17, 0.13);
    border-radius: 8px;
    border: none;
    padding: 4px 10px;

 }
 @media (min-width:200px) {
   
   .save {
         background: #4169E1;
         border-radius: 8px;
         border: none;
         color: #FFFFFF;
         padding: 5px 15px;
         font-size: 13px;
         display: block;
      }
            .btn-last {
               display: flex;
               justify-content: end;
               margin-top: 20px;
      
            }
      
            .btn-last .btn {
               padding: 5px 80px;
            }
 }