* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-container {
    width: 100%;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    border-radius: 8px;
}

.signup-img {
    background: linear-gradient(0deg, rgba(43, 41, 47, 0.56), rgba(43, 41, 47, 0.56)),
        url(../assets/settings/signup-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    display: flex;

}

.signup-img-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    gap: 2rem;
    color: #fff;

}

.signup-img-content h2 {
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
}

.signup-img-content p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1875rem;

    text-align: center;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form-header {
    text-align: center;
    margin-top: 40px;
}

.form-header h3 {
    font-size: 22px;
    color: #2B292F;
}

.form-header p {
    color: #605E65;
    margin: 10px 0;
}

.form {
    background-color: white;
    border-radius: 8px;

}

label {
    display: block;
    margin-top: 10px;
    color: #2B292F;
}

form {
    width: 90%;
}

form label {
    padding-bottom: 0.5rem;
    display: block;
}

form input {
    width: 100%;
    padding: 7px;
    margin-top: 0.3rem;
    background: #FFFFFF;
    border: 0.5px solid rgba(17, 17, 17, 0.3);
    border-radius: 4px;

}

form input:focus-visible {
    outline: none;
    border: 0.5px solid #4169E1;
}

.flex {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember {
    display: flex;

}

.forgot a {
    color: #CC2A24;
    text-decoration: none;
}

.flex input {
    width: 15px;
    margin-left: 10px;
}


.signup-btn {
    background: #4169E1;
    padding: 8px 1.5rem;
    border-radius: 4px;
    text-align: center;
    border: none;
    color: white;
    text-decoration: none;
    width: 60%;

}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.signup-paragraph {
    padding-bottom: 10px;
    text-align: center;
    color: #606570;
}

.signup-paragraph a {
    color: #605E65;
    text-decoration: none;
}

@media screen and (max-width: 900px) {

    .signup-img {
        height: 20rem;
        width: 100%;
    }


    .form {
        width: 80%;
        margin: 0 auto;
    }

    .section-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .container {
        flex-direction: column;
        width: 100%;
        border-radius: 0;
    }

    .submit {
        padding-bottom: 1rem;
    }

    .signup-btn {
        width: 100%;
    }

}


@media screen and (max-width: 600px) {
    .section-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .container {
        flex-direction: column;
        width: 100%;
        border-radius: 0;
    }

    .cancel-btn {
        display: none;
    }

    .signup-img {
        height: 13rem;
    }

    .signup-img-content h2 {
        font-size: 2rem;
        line-height: 34px;
    }

    .signup-img-content p {
        font-size: 0.8rem;
    }
}