.hero--section {
    width: 100%;
    height: fit-content;
    position: relative;
}


.hero--section img {
    height: 15rem;
    padding: 0;
    min-width: 100vw;
}

.hero--section-content h1 {
    text-transform: capitalize;
    font-size: 1.3rem;
    text-align: center;
}

.hero--section a {
    text-decoration: none;
}

.hero--section-content {
    position: absolute;
    top: 50%;
    bottom: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    gap: 1rem;
}


.hero--section-content span {
    padding: 0 1.5rem;
    font-size: small;
}

.hero--section-content a {
    align-self: center;

    border-radius: 20px;
}

.first--section {
    width: 90%;
    margin-inline: auto;
}



.contact-us {
    width: 90%;
    margin: 2rem auto;


}

footer {
    border-top: 1px solid #D9D8DA;
    padding: .5rem 1.5rem;
}


@media screen and (min-width:600px) {
    .navbar {
        width: 90%;
        margin: 0 auto;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-icons {
        display: flex;
        width: 8%;
        justify-content: space-between;
        align-items: center;
    }

    .hero--section-content a {
        align-self: center;
        width: 20%;
        border-radius: 20px;
    }
}


@media screen and (min-width:900px) {
    .hero--section {
        height: 50rem;
    }

    .hero--section img {
        height: 50rem;
        min-width: 100%;
    }

    .hero--section-content span {
        padding: 0 1.5rem;
        font-size: 1.5rem;
    }

    .hero--section-content {
        padding: 0 7rem;
    }

    .hero--section-content h1 {
        font-weight: 500;
        font-size: 3.75rem;
        line-height: 4.5625rem;
    }
}