body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #ffffff;
}
header {
  width: 100%;
  position: relative;
  overflow: hidden;
}
nav {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
  align-items: center;
}
.nav-logo {
  margin: 10px;
  display: flex;
  align-items: center;
}
.nav-list {
  margin: 10px;
  margin-left: 33%;
  display: flex;
  align-items: center;
  list-style: none;
  overflow: hidden;
}
.navbar-collapse {
  display: flex;
  justify-content: space-between;
}
li {
  margin: 0px 10px;
  font-weight: 500;
}
.active {
  border-bottom: 2px solid #4169e1;
}
.nav-btn {
  margin: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: 700;
}
.log-in {
  color: #4169e1;
  padding: 15px 37px 14px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 0.3px solid #4169e1;
  border-radius: 8px;
  width: 132px;
  height: 52px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}
.sign-up {
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 15px 30px 14px;
  box-sizing: border-box;
  justify-content: center;
  margin-left: 4px;

  width: 132px;
  height: 52px;

  color: #ffffff;
  /* blue/600 */
  background: #4169e1;
  border: 0.3px solid #ffffff;
  border-radius: 8px;
}
.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #53a865;
  width: 100%;
  color: #fff;
  height: 400px;
  position: relative;
}
.hero-1 {
  position: absolute;
  width: 286.81px;
  height: 533.02px;
  left: -145px;
  top: 250px;
  filter: drop-shadow(9px 4px 16px rgba(17, 17, 17, 0.32));
  transform: rotate(-30deg);
  z-index: 2;
}
.hero-2 {
  position: absolute;
  width: 288px;
  height: 527.22px;
  left: 85px;
  top: 270px;
  z-index: 1;

  filter: drop-shadow(9px 4px 16px rgba(45, 45, 45, 0.32));
  transform: rotate(-30deg);
}
.hero-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 48px;
  margin-bottom: 10px;
  font-family: "Inter";
  width: 504px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
form {
  width: 100%;
}
input[type="text"] {
  padding: 12px;
  border-radius: 8px;
  height: 40px;
  width: 504px;
  border-radius: 8px 0 0 8px;
  padding: 12px;
  margin: 0;
  border: none;
}
input[type="submit"] {
  padding: 8px;
  margin-left: -10px;
  border: none;
  background: #d9d8da;
  border-radius: 0px 8px 8px 0px;
}
.hero-text p {
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}
.hero-3 {
  position: absolute;
  width: 286.81px;
  height: 533.02px;
  left: 1240px;
  top: 150px;

  background: url(image.png);
  filter: drop-shadow(-9px -1px 16px rgba(0, 0, 0, 0.24));
  transform: rotate(-30deg);
}
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
main {
  padding: 100px 40px;
}
grid-container {
  background-color: #ffffff;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  height: 1519px;
  width: 1200px;
}
h2 {
  color: #000000;
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding: 0px;
  margin: 10px;
}
.img-container {
  width: 276px;
  height: 393px;
  position: relative;
}
div.row div.col-md-3.col-sm-12 {
  padding: 0px;
}
.img-container img {
  width: 276px;
  height: 350px;
  border: 1px solid #bfbfc1;
  border-radius: 8px;
  position: relative;
}
.img-container p {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  text-align: left;
}
.edit {
  width: 275px;
  height: 350px;
  position: absolute;
  top: 1px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
  border-radius: 6px;
}
.edit:hover {
  opacity: 1;
}
.edit button {
  color: #ffffff;
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: center;
  background: #4169e1;
  border-radius: 8px;
  border: none;
  width: 174px;
  height: 49px;
  padding: 15px 38px;
}
.edit p {
  color: #fff;
  text-decoration: underline;
}
hr {
  background-color: blue;
  padding: 1px;
}
footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
footer p {
  margin-top: 10px;
  width: 15%;
}
@media (max-width: 480px) {
  div.row div.col-lg-3.col-md-4.col-xs-12 {
    padding: 5px;
  }
}
@media screen and (max-width: 576px) {
  .hero {
    height: 244px;
    align-items: center;
  }
  .hero-1 {
    width: 100px;
    height: 150px;
    left: -60px;
    top: 182px;
    filter: drop-shadow(2px 1px 3.8px rgba(17, 17, 17, 0.32));
    transform: rotate(-30deg);
    z-index: 2;
  }
  .hero-2 {
    width: 68.5px;
    height: 125.46px;
    top: 195.59px;
    left: -8.31px;
    filter: drop-shadow(2px 0.95px 3.8px rgba(45, 45, 45, 0.32));
  }
  .hero-text {
    width: 318px;
    height: 138px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    width: 318px;
    height: 32px;
  }
  input[type="text"] {
    width: 304px;
    height: 32px;
    border-radius: 3.5px 0 0 3.5px;
  }
  input[type="submit"] {
    width: 32px;
    height: 32px;
    border-radius: 0 3.5px 3.5px 0;
  }
  .hero-3 {
    width: 85px;
    height: 135px;
    left: 520px;
    top: 225px;
    filter: drop-shadow(-1.8px -0.2px 3.25px rgba(0, 0, 0, 0.24));
    transform: rotate(-30deg);
  }
  .img-container {
    width: 388px;
  }
  .img-container img {
    width: 388px;
  }
  .edit {
    width: 388px;
  }
  footer p {
    width: 100%;
    margin-top: 10px;
  }
}
