<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/Css/doc.css">
</head>
<body>
    <nav class="navbar  navbar-expand-lg navbar-light  border-bottom nav px-5">
        <a class="navbar-brand" href="#">
            <img style="margin-left: 50px;" src="../assets/settings/logo.svg" alt="logo">
        </a>
        <div class="d-flex justify-content-end d-block d-sm d-md-none bell">
            <!-- <img src="../assets/settings/bell.svg" alt="" width="30" height="24"
                class="d-block d-sm d-md-none d-flex justify-content-end"> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="margin-right: 110px;" class="collapse navbar-collapse d-flex justify-content-end " id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link active mx-3" aria-current="page" href="/">
                        Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active mx-3 " aria-current="page" href="/template">
                      Templates</a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link active mx-3" aria-current="page" href="#">
                       ContactUs</a>
                </li> -->
                <li class="nav-item active">
                    <a class="nav-link active mx-3" aria-current="page" href="#">
                        Documentation</a>
                </li>
            </ul>
        </div>
    
        <div class="collapse navbar-collapse justify-content-end">
            <!-- <div><img src="../assets/settings/bell.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Dami lola
                <img src="../assets/settings/profile-circle.svg" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
                <img src="../assets/settings/arrow-down.svg" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
            </div> -->
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center mt-3">Documentation</h1>
        <h5 class="text-center sub-heading mt-3">Learn more about your favourite web builder</h5>
        <div class="doc-wrap">
            <h3>How it works</h3>
            <p>Welcome to our web builder ! Our platform makes it easy for users to create professional-looking websites by simply
            filling out a form and selecting from a range of customizable templates.</p>
            <p>To get started, simply click the "Sign Up" button located at the top right of the landing page. This will allow you to access all of the
            features and resources our web builder has to offer. From there,
            you can use the navigation bar at the top of the page to explore different pages on our site.</p>
            <p>The home page,
            which is also the landing page,
            provides an overview of our web builder and its capabilities. The templates page offers a wide selection of templates
            that you can choose from and customize to create your own unique website. The contact us page features a form that
            allows you to reach out to our team with any questions,
            feedback,
            or concerns you may have. The documentation page is a valuable resource for users,
            developers and stakeholders,
            as it contains extensive information about our web builder and how it works.</p>
            <p>To create a website,
            simply select a template and begin editing it to your liking. You can add new pages,
            such as "About
            Us" and " Contact Us,
            " and customize various elements of your website, including the cover image, background image, and
            images,
            headers,
            and paragraphs. You can also link your website to your social media pages by inputting the corresponding web addresses.
            All edits can be made on the edit template page,
            which can be accessed through the website manager on the dashboard or through the templates page.</p>
            <p>The dashboard gives you total control over your website. This is where you can upload images and access the website
            manager,which contains the "Edit Template" page and other useful tools.</p>
            <p>Please note that our web builder is currently in beta,
            so be on the lookout for future updates and enhancements.</p>
            <div class="dev">
                <h4>For Developers</h4>
                <p>My_CMS is a content management platform that lets personal and business brand owners create basic websites for their
                preferred endeavors,
                with no coding experience at all. The platform is geared towards helping people increase their digital presence at a
                relatively minimal cost and time frame. The user experience is designed to adhere to auto-customization when interacting
                with people from various industries. Therefore,
                as a user progresses through the platform,
                the platform adapts to their basic needs by choosing a suitable template based on the data deduced from their input.
                However,
                it also gives people the option to either select their templates manually.</p>
                <p>Differing levels of access will be given to unregistered and registered users. Unregistered users will be able to view
                the landing page and templates section only. While registered users will have full access to all parts of the website.</p>
                <p>Registration will be made easy with the inclusion of google and Facebook ‘auto sign up’ buttons,
                however,
                this will affect the quality of user data which will help smoothen the user experience. Hence,
                a pop-up box will constantly be displayed,
                at the top of the screen,
                indicating that users still need to complete their registration by filling out the form with the necessary details.</p>
                <p>Product requirements</p>
                <p>For unauthenticated users,
                the product is required to:</p>
                <ol>
                    <li>Have a landing page where all users can view basic information about the platform.</li>
                    <li>Display the documentation and show an option for interactivity.</li>
                    <li>Create new websites automatically by using information retrieved from the registration and profile update process.</li>
                    <li>Offer a variety of templates for users to choose from based on their preferences.</li>
                </ol>
                <p>For authenticated users,the product is required to:</p>
                <ol>
                    <li>Give users full access to all sections of the platform,
                    including the backend of the created website.</li>
                    <li>Make it possible for users to create more pages to suit their needs,</li>
                    <li>Make it possible for users to be able to change
                    templates</li>
                    <li>Offer a possibility for users to acquire unique domain names/web address</li>
                     <li>Display social media links of users,
                    to heighten their social media marketing efforts.</li>
                </ol>
                <p>Project deliverables</p>
                <p>This project aims to offer a wireframe,lo-fi,hi-fi,and a prototype,in the long run,as a result of the design process collectively done by a product design team of 8 people.</p>
                <p>Target audience information</p>
                <p>My_CMS primarily aims to cater to business owners and personal brands trying to increase their online presence. The
                platform also aims to cater to people who need websites to help them automate parts or all of their digital sales
                process. The age range of prospective users lies within the range of 20 - 35 because the platform requires interaction
                with business owners that are mostly tech-savvy. However,
                it is designed to be user-friendly enough to interact with everyone that’s literate.</p>
                <p class="mt-2">Entrepreneurs will find My_CMS highly useful because some marketing strategies and patterns (e.g email marketing and
                social media marketing) never complete their full cycle without a website. As the average prospect might not be able to
                shell out thousands of naira on a web development project,
                this makes My_CMS the best alternative for budding entrepreneurs. On a secondary level,
                My_CMS is also suitable for hobbyists that need a site to upload private projects which they can share with family,
                friends,
                and loved ones. Some people need websites to document their passion activities or family events,
                and this platform makes that possible with a few clicks.</p>
                <p>Aesthetic aspect</p>
                <p>The aesthetics of the design is user-centred in all aspects and follows an approach passively geared towards converting
                prospects to ardent users. A lot of whitespaces are being utilized to let the design stand out and also make words and
                other web items easier to seem less cohesive.</p>
                <p>Landing page</p>
                <p>The landing page features a web copy (overlaid on a cover image) that briefly introduces the platform’s function in a
                few words;
                “The ultimate way to build a professional website.” It is accompanied by a ‘Get started’ button that is meant to compel
                users to start their journey towards a richer digital experience.</p>
                <p>It is common for curiosity to kick in,
                compelling most people to scroll down in a bid to see more about the landing page;
                these designs take advantage of the curiosity that lives within. By enlightening users on how easy it is to get a
                website using short and valid bullet points,
                as they scroll down. Realistically,
                if a user is genuinely interested in getting a website,
                their interest should be piqued at this point.</p>
                <p>However,
                the ride gets better,
                as a view-only template section follows,
                right beneath the bullet points. The section displays the ethereally beautiful templates on My_CMS. Thus,
                giving users a brief idea of what their websites could look like if they register. As users yearn for more information
                peaks. A second ‘Get started’ button surfaces beneath the view-only templates section. This takes advantage of the
                positive emotional response inspired by the aesthetics and web copy viewed seconds/minutes earlier.</p>
                <p>Template Page</p>
                <p>The first part of the template page features a horizontal cover image,
                overlaid with a search bar for users to find preferred templates. A web copy of “5000+website templates” is placed above
                the search bar,
                indicating the number of templates available for users to scan through. Beneath the search bar,
                a continuation of the initial web copy follows,
                saying;
                “Make your beautiful responsive website with the best website builder. 10,
                000+free website templates.” This motivates people to envision the endless possibilities they could create with the
                numerous templates at their disposal. Next,
                the categories section features a list of various template categories in a slider. The section beneath it encompasses
                the most popular templates for people to select from if they get overwhelmed by the thousands of templates available.
                People love the crowd effect,
                they want to use what others are using.</p>
                <p>Dashboard</p>
                <p>The dashboard is the control centre for everything related to users’ websites. It encompasses five sub-sections,
                namely;</p>
                <ul>
                    <li>Overview</li>
                    <li>Website manager</li>
                    <li>media</li>
                    <li>settings</li>
                    <li>Help</li>
                </ul>
                <p>The overview sub-section gives users information about traffic flow into their website. The data displayed in this
                section are total leads,
                site sessions,
                unique visitors,
                avg time spent,
                traffic sources,
                returning vs new users,
                and devices used to visit. This helps website owners understand and analyze the data of their web visitors,
                which could be fruitful for their marketing efforts.</p>
                <p>The website subsection gives users access to the intricacies of their website. In this part,
                users can create a new website,
                edit or preview a currently owned website in web or mobile version and also access the setting panels.</p>
                <p>The media section makes it possible for users to upload and manage pictures,
                videos,
                documents,
                and audio to their websites with ease,
                all in one screen. All files uploaded to users’ websites will be displayed in this section. Hence,
                users won’t have to upload a file twice when media file iteration is required. The general section is the main site
                branding and personalization panel. In this subsection,
                users can upload a site logo,
                and edit the site name,
                tagline,
                category,
                site domain,
                and site email address. Site owners can also add their social media links here,
                to enable the possibility of site visitors visiting their social media pages by clicking on the respective icons
                displayed on the site owner’s homepage.</p>
                <p>Project scope and implementation plan – This project is meant to be approved by the Zuri team before further
                improvements are carried out. Once approved,
                the design team will hand it over to the development team,
                ensuring efficient communication takes place via discussions and documentation. Many iterations will be made,
                to ensure practicality is applied thoroughly in all sections of the product design. Currently,
                the design is still in a low-fi wireframe stage which exhibits a large part of its necessities. An estimated timeline or
                detailed implementation plan for the complete project is currently unknown,
                as we work with Zuri’s time frame and commands,
                as time goes</p>
             <h4>Documentation Updates</h4>
             <p>The design team recently conducted multiple meetings to discuss the functionality of the templates page and the form
            that controls the appearance of the template’s landing page.</p>
            <p>During these meetings,
            we thoroughly evaluated the user requirements and analyzed the current design of the templates page to identify areas
            for improvement. We also considered various design options and their potential impact on user experience.</p>
            <p>After careful consideration and discussions,
            we have decided to update the functionality of the templates page to better meet the needs of our users. The form will
            now include additional input fields that allow users to customize the appearance of the template’s landing page to their
            preference.</p>
            <p>Overall,
            the design team put a lot of effort into ensuring that the updates to the templates page and form were well thought out
            and beneficial to our users. As part of our ongoing effort to improve the user experience on our website,
            we have made a change to one of the buttons on our site. The "Edit Website" button has been changed to "Template Editor"
            .</p>
            <p>This change was made based on feedback from our users,
            who found the previous button label to be confusing. Users were unsure what exactly the button was for,
            and some even thought that it was for editing the entire website,
            rather than just the template. With the new "Edit Template" label,
            we believe that users will have a better understanding of the function of the button,
            and will be able to use it more easily and effectively.</p>
            <p>We have recently added a new documentation page to our website to help users better understand how to navigate the site.
            This page can be accessed from the navigation bar on the landing page,
            where we have added a new link titled "How to
            use."
            The purpose of this update is to make it easier for users to find the information they need to effectively use the
            website. The new documentation page includes detailed instructions on how to use various features and functions of the
            site,
            as well as tips for getting the most out of the site. We believe that this update will greatly improve the user
            experience on our website,
            and we hope that it will help users more easily find the information they need to make the most of our website.</p>
            <p>We conducted demo user testing to gather feedback and identify areas for improvement. One of the key areas of focus was
            the dashboard,
            which is a central hub for users to access various features and functionality of the product.</p>
            <p>Based on the feedback received from user testing,
            we decided to make several updates to the dashboard. One of the most significant changes was the addition of a logout
            button,
            which had been requested by several users. This button is now prominently displayed on the dashboard,
            making it easier for users to log out when they are finished using the product.</p>
            <P>In addition to adding the logout button,
            we also considered reorganizing the layout of the dashboard to make it more intuitive and user-friendly. We evaluated
            various design options and ultimately decided on a new layout that we believe will improve the user experience and make
            it easier for users to access the features they need.</P>
            <P>Overall,the changes we made to the dashboard are the result of careful consideration and analysis of user and developers’
            feedback. We are confident that these updates will significantly enhance the user experience and make it easier for our
            users to navigate and use the product. We believe that this change will improve the user experience on our website,
            and we will continue to gather feedback from our users to ensure that our website is as user-friendly as possible.</P>
            <P>Also,
            we have decided to remove the templates category from our product design. This change was necessary because template
            categories are not a core requirement at this point,
            and we were working with a limited time frame.</P>
            <p>To prioritize the most important features and requirements,
            we had to make the difficult decision to exclude the templates category. However,
            we understand that the template categories may be valuable to some users,
            and we will continue to consider their inclusion in future updates. Other updates to the product design include several
            changes to the original design. We have made modifications to the layout,
            and the functionality of the product to improve its aesthetic appeal and usability. The layout has been modified to
            optimize the use of space and improve the user's ability to access and navigate the different features and functions
            of the product.</p>
            <p>Further,
            we have made changes to the hosting provider of the product to enhance its performance and usability. To improve the
            user's experience and ensure the product' s reliability and stability.</p>
            <p>Overall,
            these changes are intended to improve the design of the product and enhance its value to users. We believe that these
            updates will make the product more appealing and user-friendly,
            and we are confident that they will have a positive impact on the product's success and adoption.</p>
            <p>Design Validation</p>
            <p>During the design phase,
            we conducted various forms of design validation to ensure that the web builder was effective and user-friendly.</p>
            <p>This included:</p>
            <p>User research: We conducted interviews and surveys with potential users to gather insights on their needs and
            expectations for a web builder. This informed the overall design of the product and helped us identify any potential
            issues or areas for improvement. </p>
            <p>Prototyping:</p> 
            <p>We created prototypes of the web builder and tested them with users to
            gather feedback and make iterative improvements. This helped us ensure that the final product was intuitive and easy to
            use.</p> 
            <p>Usability testing:</p> 
            <p>We conducted usability testing to evaluate the effectiveness and efficiency of the web builder.
            This included tasks such as building a basic website,
            adding content and images,
            and customizing the design.</p>
            <p>User Testing:</p>
            <p>After the web builder had reached an operable level,
            we continued to gather feedback and conduct ongoing testing to ensure that the product met user needs. This included:</p>
            <p>Beta testing:</p>
            <p>We invited a group of users to test the web builder and provide feedback on their experience. This helped us identify
            any issues and make necessary updates before the product’s link was submitted for review by the Zuri team.</p>
            <p>User feedback:</p>
            <p>We encouraged users to provide feedback on their experience with the web builder through various channels,
            such as a feedback form or online reviews. This helped us identify any issues and make ongoing improvements to the
            product. We also spoke to some via Whatsapp call and they explained the difficulties they faced </p>
           <p>A/B testing:</p> 
           <p>We also
            conducted A/B testing to compare different versions of the web builder and determine which features and design elements
            were most effective. One version had a user flow different from what we finally chose,the logout button was in the profile dropdown. While a second option,
            which we chose,
            has its logout button at the bottom left of the dashboard.</p>
            <p>Operational instructions</p>
            <p>To use the web builder,
            go to the landing page of the web builder. Here,
            you will find information about the web builder and its features. If you are not yet a registered user,
            click on the "register" button to create an account. You will need to fill in the necessary fields. Once you have
            registered,
            click on the "login" button and enter your email address and password to access the dashboard.</p>
            <p>In the dashboard,
            you will find a handful of devices. The website manager would be of great importance at all times,
            as it allows you to control your website like a pro. With it,
            you can preview your website and even edit your website templates.</p>
            <p>To choose and edit templates,
            you can either do so through the website manager or go to the templates page. Where you can browse through the available
            templates and select one to use for your website. To edit a template,
            simply click on it and make the desired changes in the form that opens up. Remember to save your changes before exiting
            the template editor. As an unregistered user,
            you can only view the landing page,
            templates,
            and documentation,
            but you won’t have access to the dashboard. When you register,
            you’ll be able to access all parts of the web builder,
            including the dashboard and template editor.</p>
            <p>Conclusion:</p>
            <p>By following these practices and steps,
            we aimed to create a web builder that was effective,
            user-friendly and met the needs of users. Ongoing design validation and user testing helped us identify any issues and
            make necessary updates to ensure that the product was of high quality. Create a beautiful website,
            fast and easy.</p>
            </div>
        </div>
    </div>
</body>
</html>