<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href= "/Css/general.css" rel="stylesheet" type="text/css" />
</head>
<body class="col-sm-12 mx-auto w-75%">
    <nav class="navbar  navbar-expand-lg navbar-light d-flex justify-content-between w-100  border-bottom d-flex align-items-center p-0 m-0">
        <a class="navbar-brand" href="#">
            <img style="margin-left:50px;" src="../assets/settings/logo.svg" alt="logo">
        </a>
        <div class="d-flex justify-content-end d-block d-sm d-md-none bell">
            <img src="../assets/settings/bell.svg" alt="" width="30" height="24" class="d-block d-sm d-md-none ">
        </div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  " id="navbarNav">
            <ul class="navbar-nav">
                
            
            </ul>
        </div>
    
        <div style="margin-right: 30px;" class="collapse navbar-collapse justify-content-end">
            <img src="../assets/settings/profile-circle.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            </div>
        </div>
    </nav>


    <div class="container m-0 p-0">
        <div class="row p-0">
            <div class="col left-col d-none d-sm d-md-block">
            <div class="card border-0 border-end" style="width: 14rem;">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item border-0 mt-2">
                        <img src="../assets/settings/world.png"  width="20" height="20" alt="" class="d-inline-block align-text-top">
                        <a href="/dashboard">website manager</a></li>
                    <li class="list-group-item border-0 my-3">
                        <img src="../assets/settings/media.png" width="20" height="20" alt="" class="d-inline-block align-text-top">
                        <a href="/dashboardMedia">
                            media
                        </a>
                        </li>
                        <li class="list-group-item border-0 settings py-3">
                            <img src="../assets/settings/setting-2.png" width="20" height="20" alt="" class="d-inline-block align-text-top">
                           settings
                        </li>
                    <li class="list-group-item border-0 my-3">
                        <a href="/doc", style="color: black;"><img src="../assets/settings/help.png" width="20" height="20" alt="" class="d-inline-block align-text-top">
                        Help</a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="col-md-8 col-lg-8 mb-5 col-sm-12 mx-auto">
                <div class="d-flex justify-content-between sm">
                        <div class="general">
                            <h4>General Settings</h4>
                            <p>Manage your website settings.</p>
                        </div>
                        <div class="mt-2">
                            <div class="my_cms">
                                <p class="py-1 px-2">my_cms
                                    <img src="../assets/settings/arrow-down.svg" width="20" height="20" alt="" class="">
                                </p>
                            </div>
                        </div>
                </div>
                <div class="card" style="">
                    <div class="">
                        <div class="card-header d-flex justify-content-between bg-white d-flex align-items-center">
                            <p class="">Site Profile</p>
                            <button class="save">save settings</button>
                        </div>
                    </div>
                   <div class="row p-3 ">
                      <div class="col-md-3 col-lg-3 col-sm-12">
                          <p>Site Logo</p>
                         <div class="border border-1 py-4" style="width: 7rem;height: 6rem;">
                            <img src="../assets/settings/logo.svg" class="img-fluid mx-auto d-block" alt="" srcset="">
                         </div>
                        <button type="" class ="save2 my-3">upload <img src="../assets/settings/arrow-up.png" alt="" srcset=""></button>
                     </div>
                     <div class="col-9">
                          <div class="mb-3">
                              <label for="exampleFormControlInput1" class="form-label">Site Name</label>
                              <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="My_CMS">
                              <label for="exampleFormControlInput1" class="form-label mt-3">Site Tagline</label>
                              <input type="email" class="form-control form-control-sm " id="exampleFormControlInput1" placeholder="placeholder">
                             <label for="exampleFormControlInput1" class="form-label mt-3">Site Category</label>
                             <input type="email" class="form-control form-control-sm " id="exampleFormControlInput1" placeholder="placeholder">
                          </div>
                     </div>          
                   </div>
                    <form class="row g-3 px-3">
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Site Domain </label>
                            <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Password">
                        </div>
                    </form>
                    <form class="row g-3 px-3">
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Site Email Address </label>
                            <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Password">
                        </div>
                    </form>
                   <!-- <div class="card mb-4">
                    <div class="card-header bg-white">
                        <p class="fw-bold fs-5">Social Media Links</p>
                    </div>
                   </div>
                    <div class="row mb-3 px-3">
                        <div class="col-md-6 col-sm-12">
                            <div class="mb-2 ">
                                <label for="exampleFormControlInput1" class="form-label">Linkedin</label>
                                <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="placeholder">
                                <label for="exampleFormControlInput1" class="form-label">Twitter</label>
                                <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="placeholder">
                                <label for="exampleFormControlInput1" class="form-label">Youtube</label>
                                <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="placeholder">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 ">
                            <div class="mb-2">
                                <label for="exampleFormControlInput1" class="form-label">Facebook</label>
                                <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="placeholder">
                                <label for="exampleFormControlInput1" class="form-label">Instagram</label>
                                <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="placeholder">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-auto btn-last">
                    <button class="btn">save</button>
                </div> -->
                <br>
            </div>
        </div>
    </div>
</body>