<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link href= "/Css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="section-container">
        <div class="container">
            <div class="signup-img">
                <img src="../assets/settings/signup-img.png" alt="" srcset="">
            </div>
            <div class="form">
                <div class="form-header">
                    <h3>Login</h3>
                    <p>Fill the form below to login</p>
                </div>
				
                <form action="/users/login" method="POST">
                    <%- include ("./partials/messages") %>
                    <label for="email">Email Address
                        <input 
							type="email"
							id="email"
							name="email"
							placeholder="Enter Email"
						/>
                    </label>
                    <label for="password">password
                        <input 
							type="password"
							id="password"
							name="password"
							placeholder="Enter Password"
						/>
                    </label>
                    <div class="flex">
                       <div class="forgot">
                        <p><a href="/users/forgotPassword">Forgot Password?</a></p>
                       </div>
                    </div> 
                    <div class="submit">
                        <a class="signup-btn "><button type="submit" style="background-color: inherit; color: white; border: none;">Login</button></a>
                    </div>
                </form>
            
                <p class="signup-paragraph">Not yet a member?<a href="/users/register"> Sign Up</a></p>
            </div>
        </div>
    </div>
</body>
</html>