<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/Css/createpass.css">
	<link
        rel="stylesheet"
        href="https://bootswatch.com/4/journal/bootstrap.min.css"
        />    
</head>
<body>
    <div class="section-container">
        <div class="container">
            <div class="signup-img">
                <img src="../assets/settings/signup-img.png" alt="" srcset="">
            </div>
			<div class="form">
				<form action="/users/resetPassword" method="POST"> 
                <div class="form-header">
                    <h1 class="text-center mb-3" id="head-text">Reset your password...</h1>
                </div>
				<%- include ("./partials/messages") %>
                <form action="/users/resetPassword" method="POST">
					<label for="newPassword">New Password</label>
					<input
					type="password"
					id="newPassword"
					name="newPassword"
					class="form-control"
					placeholder="Enter new password"
					/>
					<label for="confirmNewPassword"> Confirm new password</label>
					<input
					type="password"
					id="confirmNewPassword"
					name="confirmNewPassword"
					class="form-control"
					placeholder="Confirm new password"
					/>
					<input
					type="hidden"
					id="userId"
					name="userId"
					class="form-control"
					value= "<%= typeof userId != 'undefined' ? userId : '' %>"
					/>

					<input
					type="hidden"
					id="resetString"
					name="resetString"
					class="form-control"
					value= "<%= typeof resetString!= 'undefined' ? resetString : '' %>"
					/>
					<br>
                    <button type="submit" class="btn btn-primary btn-block mb-2" id="signup-btn">Enter</button>
					
					<p class="signup-paragraph" style="text-align: center;"><a href="/users/login">Back to Login</a></p>
				</form>
			</div>    
            </div>
        </div>
    </div>
</body>
</html>