<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamers Template</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Css/gamers.css">
</head>

<body>

</body>
<div class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light d-flex justify-content-between ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    Logo
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link " href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row hero--section her0-section">
            <div class="">
                <span>Stake online with gamers like you</span>
                <h1>connect & livestream with gamers all over the world</h1>

                <a href="#" type="button" class="btn btn-light text-black">Join waiting list</a>
            </div>
        </div>

    </header>


    <body>
        <main>
            <section class="row d-flex flex-sm-column first--section pt-5 flex-md-row">
                <div class="col-12 col-md-4">
                    <img src="../../assets/Templates_design/four.jpg" alt="image" class="img-fluid" />
                </div>

                <div class="col-12 col-md-8">
                    <h3>
                        Earn the championship title!
                    </h3>
                    <p>
                        Gamer Zone is here to take online gaming to an unprecedented level with creative events that’ll
                        spice up your digital
                        play sessions and ignite your social life. Get ready for a gaming experience that’ll stimulate
                        your mind and challenge
                        you to earn the championship title and the incentives it comes with.
                    </p>
                </div>
            </section>
            <div class="row">
                <div class="col-sm-12">
                    <img src="../../assets/Templates_design/five.png" alt="" width="100%">
                </div>

                <div class="col-sm-12">
                    <p>
                        Staking lives at the core of our plans for you. We want you to earn money as you play your
                        favourite games and ascend
                        the charts. Dominate the leader board, triumph over your opponents and prove to thousands of
                        viewers that a champion
                        lives within you. If they believe in you, they will stake on you, and 2% of their stake amount
                        will be awarded you on
                        completion of each stage.
                        <br>
                        Gamer Zone is still in the works, want to be the first of experience the magic we’re creating?
                        Please visit the section
                        below!
                    </p>
                </div>
            </div>

            <div class="col-sm-12 contact-us">
                <div class="col-md-12">
                    <h3 class="text-center">Be the First to Experience Gamer Zone</h3>
                    <p class="text-center">Please fill the form below</p>
                </div>

                <form class="row w-100">
                    <div class="col-md-12 d-flex flex-column flex-md-row">
                        <div class="col-md-6">
                            <label for="first-name" class="col-sm-2 col-form-label">First name</label>
                            <div class="col-sm-10 col-md-12 pe-3">
                                <input type="text" class="form-control form-control-lg" id="first-name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="last-name" class="col-sm-2 col-form-label">Last name</label>
                            <div class="col-sm-10 col-md-12">
                                <input type="text" class="form-control form-control-lg" id="last-name">
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="email" class="col-sm-2 col-form-label">Email Address</label>
                        <div class="col-sm-10 col-md-12">
                            <input type="email" class="form-control form-control-lg" id="email"
                                placeholder="Enter a valid email address">
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center pt-3">
                        <button type="submit" class="btn btn-primary ">Send message</button>
                    </div>
                </form>
            </div>
        </main>


        <footer>
            <div>
                Logo
            </div>
            <p>Create a beautiful website, fast and easy.</p>
            <div class="social-icons">
                <a href="#">
                    <img src="../../assets/landing_page/instagram.svg" alt="instagram icon">
                </a>
                <a href="#">
                    <img src="../../assets/landing_page/twitter.svg" alt="twitter icon">
                </a>

                <a href="#">
                    <img src="../../assets/landing_page/facebook.svg" alt="facebook icon">
                </a>
        </footer>
    </body>
</div>

</html>