*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.sub-heading{
    color: #667085;
    font-size: 17px;
}