
.hero--section h1 {
    text-transform: capitalize;
}

#edit {
    border-radius: 8px;
    padding: 6px 16px;
    border: none;
    background-color: rgb(173, 172, 172);
  }

.hero--section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 1rem;
    text-align: center;
}

.first--section {
    width: 90%;
    margin-inline: auto;
}



.contact-us {
    width: 90%;
    margin: 2rem auto;


}

footer {
    border-top: 1px solid #D9D8DA;
    padding: 0.5rem 1.5rem;
}


@media screen and (min-width:600px) {
    .navbar {
        width: 90%;
        margin: 0 auto;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-icons {
        display: flex;
        width: 8%;
        justify-content: space-between;
        align-items: center;
    }
}


@media screen and (min-width:900px) {
    .hero--section {
        height: 37.93rem;
    }
}